.traffic-light {
    width: 2.5rem;
    height: 2.5rem;
}

.working-from-home {
    font-size: 2.5rem;
    padding-right: 1rem;
    color: gray;
}

.traffic-light-container {
    padding: 3rem;
}

.message {
    font-size: 1.5rem;
}