.traffic-light {
    width: 2rem;
    height: 2rem;
}

.additional-icon {
    font-size: 2rem;
    padding-right: 1rem;
    color: gray;
}

.traffic-light-container {
    padding: 1.5rem;
}

.message {
    font-size: 1.5rem;
}

.user {
    color: inherit;
}

.user:hover {
    color: inherit;
}

.add-traffic-light {
    font-size: 2rem;
    color: gray;
}

.mode-toggler {
    color: gray;
}

.traffic-light-card {
    min-width: 25vh;
    max-width: 100vh;
}

/*
    Dark mode styles
 */

.body-dark {
    background-color: #333;
    color: #FFF;
}

.card-dark {
    border: none;
}

.card-header-dark {
    background-color: #444;
    color: #FFF;
}

.card-body-dark {
    background-color: #222;
    color: #AAA;
}

.additional-icon-dark {
    color: #FFF;
}

.input-dark {
    background-color: #232323;
    color: #FFF;
}

.input-dark:focus {
    background-color: #232323;
    color: #FFF;
}