.traffic-light {
    width: 2rem;
    height: 2rem;
}

.working-from-home {
    font-size: 2rem;
    padding-right: 1rem;
    color: gray;
}

.traffic-light-container {
    padding: 1.5rem;
}

.message {
    font-size: 1.5rem;
}

.user {
    color: inherit;
}

.add-traffic-light {
    font-size: 2rem;
    color: gray;
}